# OCI Provider
tenancy_ocid = "ocid1.tenancy.oc1..xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
user_ocid = "ocid1.user.oc1..xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
fingerprint = "00:11:22:33:44:55:66:77:88:99:aa:bb:cc:dd:ee:ff"
private_key_path = "../secrets/oci_api_key.pem"
region = "us-ashburn-1"

# Resource Name Prefix
oke_resource_prefix = "multiad"

# Target Compartment
compartment_ocid = "ocid1.compartment.oc1..xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# OKE Cluster
oke_kubernetes_version = "v1.13.5"
oke_kubernetes_dashboard_enabled = false
oke_helm_tiller_enabled = false

# OKE Node Pool
oke_kubernetes_node_version = "v1.13.5"
oke_node_pool_node_image_name = "Oracle-Linux-7.6"
oke_node_pool_shape = [
    "VM.Standard1.1"
]
oke_node_pool_quantity = [
    1
]